<footer class="main__footer">
    <div class="content">
        <article class='footer__top'>
            <h1 >LOREM IPSUM IS SIMPL</h1>
            <h2>Lorem Ipsum is simply dummy typesetting industry.</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </article>
        <article class='footer__middle'>
            <section class='footer__middle-logo-agencia'>
                <img src='/arquivos/aldemir-souza-logo-eplus.png' />
            </section>
            <section class='footer__middle-text'>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            </section>
        </article>
        <article class='footer__info'>
            <section class='footer__info-company'>
                <p>Razão Social: Agencia e-plus ltda | CNPJ-18.106.304/0001-01 |
                    Endereço: Borges Lagoa, 564, 13 andar CEP: 04038-000 | Vila Mariana - São Paulo</p>
                <span>Horário de atendimento da loja: 09h00 as 18h00</span>
            </section>

            <section class='footer__info-about-company'>
                <div class='footer__info-box'>
                    <h3 class='footer__info-title'>e-Plus</h3>
                    <p class='footer__info-topic'><a href="#" > &#9656; Quem Somos</a></p>
                    <p class='footer__info-topic'><a href="#" > &#9656; Politica de Privacidade</a></p>
                </div>
                <div class='footer__info-box'>
                    <h3 class='footer__info-title'>Junte-se à nós</h3>
                    <div class='footer__info-redes-sociais'>
                        <img src='/arquivos/lucas-rocha-instagram.svg' />
                        <img src='/arquivos/lucas-rocha-facebook.svg' />
                        <img src='/arquivos/lucas-rocha-youtube.svg' />
                    </div>
                </div>
            </section>
            <section class='footer__info-box'>
                <h3 class='footer__info-title'>Dúvidas</h3>
                <p class='footer__info-topic'><a href="#" > &#9656; Minha Conta</a></p>
                <p class='footer__info-topic'><a href="#" > &#9656; Meus Pedidos</a></p>
                <p class='footer__info-topic'><a href="#" > &#9656; Fale Conosco</a></p>
            </section>
            <section class='footer__info-about-safety-box'>
                <h3 class='footer__info-title'>Segurança</h3>
                <div class='footer__info-certified-box'>
                    <div class='footer__info-certified-vtex'>
                        <img src='/arquivos/lucas-rocha-vtex-certified.png'/>
                    </div>
                    <img src='/arquivos/lucas-rocha-vtex-certified.png'/>
                </div>
            </section>
        </article>
    </div>

    <article class='footer__info-bottom'>
        <section class='footer__info-bottom-box'>
            <p>Todos os direitos reservados. Loja de testes. As informações não podem ser
                reproduzidas ou parcialmente sem autorização prévia.</p>
            <div class='footer__info-payment'>
                <img src='/arquivos/lucas-rocha-visa.png' />
                <img src='/arquivos/lucas-rocha-master-card.png' />
                <img src='/arquivos/lucas-rocha-dinners-club.png' />
                <img src='/arquivos/lucas-rocha-aura.png' />
                <img src='/arquivos/lucas-rocha-hipercard.png' />
                <img src='/arquivos/lucas-rocha-american-express.png' />
                <img src='/arquivos/lucas-rocha-elo.png' />
                <img src='/arquivos/lucas-rocha-boleto.png' />
            </div>
        </section>
    </article>
    <article class='footer__bottom'>
        <a class='footer__bottom-logo-eplus'><vtex.cmc:LucasRochaLogoAgenciaEplus/></a>
        <a class='footer__bottom-logo-vtex'><vtex.cmc:LucasRochaLogoVtex /></a>
    </article>    
</footer>